.partners{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section{
    margin-top: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
}

.right{
    margin-bottom: 200px;
}

p{
    color: #9893A3;
    width: 400px;
    height: 102px;
}

.learnmore{
    text-decoration: dashed;
    font-weight: 600;
    color: #2F2E41;
}
.main-text2{
    position: static;
    width: 400px;
    left: calc(50% - 400px/2);
    top: 0%;
    bottom: 58.58%;

    /* H2 --desktop */

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    /* or 107% */

    letter-spacing: -1px;

    /* Neutral[500] */

    color: #2F2E41;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}