@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
.main-navbar #logo {
  color: #2f2e41;
  text-decoration: none;
  font-family: Open Sans;
  font-weight: bold;
}

